@page
@model LowFlix.Pages.Bookings.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"] Bookings</h1>

<div>
    <div>
        <form method="post">
            <div class="formGroup">
                <label asp-for="Booking.CustomerId">Customer</label>
                <select class="inputField" asp-for="Booking.CustomerId" asp-items="Model.CustomerList"></select>
            </div>
            <div class="formGroup">
                <label asp-for="Booking.FilmId">Film</label>
                <select class="inputField" asp-for="Booking.FilmId" asp-items="Model.FilmList"></select>
            </div>
            <div class="formGroup">
                <label asp-for="Booking.RentalDate"></label>
                <input class="inputField" asp-for="Booking.RentalDate" />
            </div>
            <div class="buttonGroup">
                <input asp-for="Booking.BookingId" type="hidden" />
                <input type="submit" value="Edit" class="btn primaryButton" />
                <a asp-page="Index" class="btn secondaryButton">Cancel</a>
            </div>
        </form>
    </div>
</div>
