.twoCardSpacingDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.cardDiv {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    min-width: 350px;
    width: calc(100% / 2 - 5px);
    background-color: slategray;
    border-radius: 10px;
}

