.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
}

.buttonGroup .btn {
    margin-right: 10px;
}

.inputField {
    max-width: 500px;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.inputDate {

    max-width: 490px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.inputCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    max-width: 500px;
    border-radius: 5px;
    background-color: slategray;
}

.inputCardFieldDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputCardField {
    width: 100%;
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
