
table {
    width: 100%;
    border-collapse: collapse;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border-spacing: 0;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: start;
}
